.navList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navItem {
  margin-right: 20px;
}

.navLink {
  color: #61dafb;
  text-decoration: none;
  font-weight: 700;
}

.navLink:hover {
  color: #489cb3;
  text-decoration: underline;
}
